openapi: 3.0.0
info:
  title: Telstra Programmable Network API
  description: >-
    Telstra Programmable Network is a self-provisioning platform that allows its
    users to create on-demand connectivity services between multiple end-points
    and add various network functions to those services. Programmable Network
    enables to connectivity to a global ecosystem of networking services as well
    as public and private cloud services. Once you are connected to the platform
    on one or more POPs (points of presence), you can start creating those
    services based on the use case that you want to accomplish. The Programmable
    Network API is available to all customers who have registered to use the
    Programmable Network.

    To register, please contact your account representative.
  version: 2.1.1
  contact:
    name: Telstra Corporation
    url: 'https://dev.telstra.com/content/programmable-network-api'
    email: pnapi-support@team.telstra.com
servers:
  - url: 'https://penapi.pacnetconnect.com'
    description: Production Public API
components:
  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth 2 with password grant flow
      flows:
        password:
          tokenUrl: /1.0.0/auth/generatetoken
          scopes: {}
  schemas:
    Error:
      type: object
      properties:
        ns:
          type: string
          xml:
            name: 'xmlns:ams'
            attribute: true
        error-code:
          type: integer
          example: 1010099
          xml:
            name: 'ams:error-code'
        error-message:
          type: string
          xml:
            name: 'ams:error-message'
        error-auxiliary:
          type: string
          xml:
            name: 'ams:error-auxiliary'
      xml:
        name: 'ams:error'
    success-fragment:
      type: object
      properties:
        success-auxiliary:
          type: string
          example: "success"
        success-code:
          type: integer
          example: 20000
        success-message:
          type: string
          example: "vport created successfully"
    endpoint-port:
      type: object
      properties:
        cabletype:
          type: string
          example: "SMF"
        connectortype:
          type: string
          example: "LC"
        cfa:
          type: string
          example: "10GBase-LR SMF/LC"
        endpointuuid:
          type: string
          example: "8843fd24-4ef6-4a7d-8241-aed3778d6f07"
        interfacespeed:
          type: string
          example: "100"
        interfacetype:
          type: string
          example: "10GBase-LR"
        vport:
          type: array
          items:
            $ref: '#/components/schemas/vport'
    vport:
      type: object
      properties:
        status:
          type: string
          example: "deployed"
        bandwidth:
          type: integer
          example: 0
        interfacesequence:
          type: integer
          example: 0
        vporttype:
          type: string
          example: "vlan"
        vportuuid:
          type: string
          example: "e62716f5-cc68-40e7-b97e-f1e3d1bda9a8"
        vportvalue:
          type: object
          properties:
            vlan:
              $ref: '#/components/schemas/vlan'
    connections:
      type: array
      minItems: 2
      maxItems: 2
      example:
        - "5134d2ba-ce81-4b1c-9242-d2f30896c3a0"
        - "e2f182ee-8c06-410d-b0fe-e21c9e7ee7bd"
      items:
        type: string
        description: "two vport uuids identified the endpoints of the link"
    billing:
      type: object
      properties:
        billingid:
          type: string
          example: "dae2cb75-89f2-4b5b-be99-5cf3ae3faa20"
        billing-account:
          type: string
          example: "60012345"
    role:
      type: object
      properties:
        role-name:
          type: string
          example: "customer-admin"
        permissions:
          type: array
          items:
            type: string
            example: "delete-user"
    vnf-tag:
      type: object
      properties:
        description:
          type: string
          example: "UNIX"
        id:
          type: integer
          example: 2
        name:
          type: string
          example: "UNIX"
    vlan:
      required:
        - id
        - mac
      type: object
      properties:
        id:
          type: string
          example: "101"
        mac:
          type: string
          example: ""
    topology:
      type: object
      properties:
        uuid:
          type: string
          example: "2056dbc6-fcad-4374-9dda-3bde3507b3b3"
        name:
          type: string
          example: "Production WAN"
        description:
          type: string
          example: "Main topology for WAN"
        status:
          type: string
          example: "active"
        customer_uuid:
          type: string
          example: "536b8cca-6594-46b9-8e62-1638e42deb6e"
        nsd_uuid:
          description: "no longer used"
          type: string
          example: null
        guid_topology_id:
          type: string
          example: null
        created_by:
          type: string
          example: "7a53ecf9-644a-4c92-8c63-eabc1ffe131f"
        creation_date:
          type: integer
          example: 1508307028000
        deletion_date:
          type: integer
          example: 0
    link:
      type: object
      properties:
        description:
          type: string
          example: "Main link from Melbourne to Sydney"
        latency:
          $ref: '#/components/schemas/latency'
        linkid:
          $ref: '#/components/schemas/linkid'
        contracts:
          type: array
          items:
            $ref: '#/components/schemas/contract'
        tag:
          type: string
          example: "prod"
        connections:
          $ref: '#/components/schemas/connections'
        type:
          type: string
          example: "0"
        linkStatus:
          type: integer
          example: 1
        billing-id:
          type: string
          example: "b41c4ec8-1825-404b-b740-feaeba96681d"
    duration.mins:
      description: "Duration of contract in minutes"
      type: integer
      example: 3600
      minimum: 3600
    duration.hrs:
      description: "Duration of contract in hours (not minutes)"
      type: integer
      example: 1
      minimum: 1
    bandwidth.kbs:
      description: "Bandwidth in kB/s"
      type: integer
      example: 1000
      minimum: 1000
      maximum: 10000000
    bandwidth.mbs:
      description: "Bandwidth in MB/s (not kB/s)"
      type: integer
      example: 1
      minimum: 1
      maximum: 10000
    renewal-option:
      type: integer
      description: "Renewal Option: 0=Auto Disconnect, 1=Auto Renew, 2=Pay per hour"
      example: 0
    linkid:
      type: string
      description: "Identifier of a link"
      example: "f070660600c1c45f"
    contractid:
      type: string
      description: "Identifier of a contract"
      example: "f070660600c1c45f.2"
    latency:
      description: "Latency: 0=Low, 1=Standard, 2=Best Effort"
      type: integer
      example: 0
      pattern: "[012]"
    price:
      type: integer
      example: 259
    contractStatus:
      type: integer
      example: 8
    version:
      type: integer
      example: 20431
    deletedtimestamp:
      type: integer
      example: 0
    currencyCode:
      type: string
      example: "USD"
    currencyID:
      type: string
      example: "1"
    contract-start-time:
      type: integer
      example: 1508589922000
    contract-end-time:
      type: integer
      example: 1508593521000
    contract:
      type: object
      properties:
        contractid:
          $ref: '#/components/schemas/contractid'
        duration:
          $ref: '#/components/schemas/duration.mins'
        bandwidth:
          $ref: '#/components/schemas/bandwidth.kbs'
        price:
          $ref: '#/components/schemas/price'
        contractStatus:
          $ref: '#/components/schemas/contractStatus'
        version:
          $ref: '#/components/schemas/version'
        deletedtimestamp:
          $ref: '#/components/schemas/deletedtimestamp'
        currencyCode:
          $ref: '#/components/schemas/currencyCode'
        currencyID:
          $ref: '#/components/schemas/currencyID'
        renewal-option:
          $ref: '#/components/schemas/renewal-option'
        contract-start-time:
          $ref: '#/components/schemas/contract-start-time'
        contract-end-time:
          $ref: '#/components/schemas/contract-end-time'
    flavor:
      type: object
      properties:
        currency:
          type: string
          example: "USD"
        description:
          type: string
          example: "Flavor for CSP image"
        disk:
          type: integer
          example: 0
        ephemeral:
          type: integer
          example: 0
        id:
          type: integer
          example: 3
        name:
          type: string
          example: "Medium-CSP"
        price:
          type: number
          example: 0.4
        ram:
          type: integer
          example: 0
        specific_customer:
          type: string
        swap:
          type: integer
          example: 0
        vcpus:
          type: integer
          example: 2
    user:
      type: object
      required:
        - useruuid
        - status
        - username
      properties:
        title:
          type: string
          example: "Ms"
        useruuid:
          type: string
          example: "Ms"
        usercountry:
          type: string
          example: "USA"
        emailaddress:
          type: string
          example: "test@dummy.com"
        jobtitle:
          type: string
          example: null
        firstname:
          type: string
          example: "Person"
        middlename:
          type: string
          example: null
        lastname:
          type: string
          example: "Pacman"
        phonenumber:
          type: string
          example: "7026661954"
        phoneext:
          type: string
          example: null
        phonetype:
          type: string
          example: "mobile"
        status:
          type: string
          example: "1"
  parameters:
    customeruuid:
      in: path
      name: customeruuid
      description: Unique identifier representing a specific customer
      schema:
        type: string
      required: true
    endpointuuid:
      in: path
      name: endpointuuid
      description: Unique identifier representing a specific endpoint
      schema:
        type: string
      required: true
    linkid:
      in: path
      name: linkid
      description: Unique identifier representing a specific link
      schema:
        type: string
      required: true
    contractid:
      in: path
      name: contractid
      description: Unique identifier representing a specific contract
      schema:
        type: string
      required: true
    vportuuid:
      in: path
      name: vportuuid
      description: Unique identifier representing a specific virtual port
      schema:
        type: string
      required: true
    imageid:
      in: path
      name: imageid
      description: Identifier representing a specific VNF image
      schema:
        type: string
      required: true
    vnfuuid:
      in: path
      name: vnfuuid
      description: Unique identifier representing a specific virtual network function
      schema:
        type: string
      required: true
    exrequuid:
      in: path
      name: exrequuid
      description: Unique identifier representing a specific exchange request
      schema:
        type: string
      required: true
    visitcarduuid:
      in: path
      name: visitcarduuid
      description: >-
        Unique identifier representing a specific exchange visit card (provider
        description)
      schema:
        type: string
      required: true
    taguuid:
      in: path
      name: taguuid
      description: Unique identifier representing a specific customer tag
      schema:
        type: string
      required: true
    topotaguuid:
      in: path
      name: topotaguuid
      description: Unique identifier representing a specific topology tag
      schema:
        type: string
      required: true
    useruuid:
      in: path
      name: useruuid
      description: Unique identifier representing a specific user
      schema:
        type: string
      required: true
    startdate:
      in: path
      name: startdate
      description: Start date for statistics query
      schema:
        type: string
      required: true
    enddate:
      in: path
      name: enddate
      description: End date for statistics query
      schema:
        type: string
      required: true
    backupuuid:
      in: path
      name: backupuuid
      description: Unique identifier representing a specific VNF backup
      schema:
        type: string
      required: true
    service_uuid:
      in: path
      name: service_uuid
      description: Unique identifier representing a specific IPVPN or Next IP service (?)
      schema:
        type: string
      required: true
    customer_id:
      in: path
      name: customer_id
      description: Should this be customeruuid?
      schema:
        type: string
      required: true
  responses:
    unauthenticated:
      description: Missing Token
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: error
              error-code:
                type: integer
                example: 1060052
              error_description:
                type: string
                example: Payload required.
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
    forbidden:
      description: Authorization Failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
    methodnotallowed:
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
    internalerror:
      description: Backend Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
    invalidrequest:
      description: Request is not correctly formatted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
    objectnotfound:
      description: Specified object cannot be found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
    statusconflict:
      description: Status onflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
    validationerror:
      description: Request is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
security:
  - oAuth: []
paths:
  /1.0.0/inventory/datacenters:
    get:
      summary: Get list of all the data centers
      tags:
        - datacentres
      responses:
        '200':
          description: array of data center objects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    cityname:
                      type: string
                      example: "Melbourne"
                    countryname:
                      type: string
                      example: "Australia"
                    datacentername:
                      type: string
                      example: "Melbourne (NextDC)"
                    datacentercode:
                      type: string
                      example: "amls"
                    datacenteruuid:
                      type: string
                      example: "61f6522f-83e4-4c71-b638-63808240ef88"
                    interfacetypes:
                      type: array
                      items:
                        type: string
                    operatorname:
                      type: string
        '400':
          $ref: '#/components/responses/invalidrequest'
        '401':
          $ref: '#/components/responses/unauthenticated'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/objectnotfound'
        '405':
          $ref: '#/components/responses/methodnotallowed'
        '409':
          $ref: '#/components/responses/statusconflict'
        '422':
          $ref: '#/components/responses/validationerror'
        '500':
          $ref: '#/components/responses/internalerror'
  '/1.0.0/inventory/endpoints/customeruuid/{customeruuid}':
    parameters:
      - $ref: '#/components/parameters/customeruuid'
    get:
      summary: Get list of endpoints for a customer
      tags:
        - endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpointlist:
                    type: array
                    items:
                      type: object
                      properties:
                        datacenteruuid:
                          type: string
                          example: "7d89a3e0-ea82-4970-82f3-359d15d364b2"
                        endpointuuid:
                          type: string
                          example: "ebe5a688-2a87-40ba-8303-049b1855271c"
  '/1.0.0/inventory/endpoint/{endpointuuid}':
    parameters:
      - $ref: '#/components/parameters/endpointuuid'
    get:
      summary: Get information about the specified endpoint
      tags:
        - endpoints
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  datacenter:
                    type: array
                    items:
                      type: object
                      properties:
                        datacenteruuid:
                          type: string
                          example: "fb089004-53c9-476e-b7b2-3cc91829e0d1"
                        port:
                          type: array
                          items:
                            $ref: '#/components/schemas/endpoint-port'
  /1.0.0/inventory/vnfendpoint:
    post:
      summary: Create VNF Endpoint
      tags:
        - endpoints
        - vnfs
      requestBody:
        content:
          application/json:
            schema:
              required:
                - customeruuid
                - imageuuid
                - flavoruuid
                - datacenteruuid
                - config
              type: object
              properties:
                customeruuid:
                  type: string
                  example: "e66546d2-eb85-442f-a4d4-a4f6f4cee6bc"
                imageuuid:
                  type: integer
                  example: 21
                flavoruuid:
                  type: integer
                  example: 22
                datacenteruuid:
                  type: string
                  example: "2e5ff2d1-da1b-4e5d-81a8-58f1780b1031"
                config:
                  description: "Boot configuration for VNF, base64 encoded"
                  type: string
                topology_tag_uuid:
                  type: string
                  example: "f6c14b31-f29f-4be2-919b-5b7f463e4a3c"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/success-fragment'
                  - type: object
                    properties:
                      customeruuid:
                        type: string
                        example: "9a6c0b09-6864-4f1b-bc03-842268ca1061"
                      vnfuuid:
                        type: string
                        example: "37449aab-0aa2-44ae-929b-7616549ee20e"
  /1.0.0/inventory/regularendpoint:
    post:
      summary: Create Physical (Port) Endpoint
      tags:
        - endpoints
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customeruuid:
                  type: string
                  example: "6a607f5f-25c9-45a1-a960-a34245509208"
                datacenteruuid:
                  type: string
                  example: "dc8f4a57-4621-4b17-87bd-e5a7e508bf7a"
                interfacetype:
                  type: string
                  example: "1000Base-TX"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/success-fragment'
                  - type: object
                    properties:
                      endpointuuid:
                        type: string
                        example: "c6b5c04f-c968-432e-a70f-b929437ea6e4"


  /1.0.0/inventory/link:
    post:
      summary: Create Link and initial Contract
      tags:
        - links
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                billing-id:
                  type: string
                  example: "684903a3-78b0-4005-9bfe-eece54ad42f3"
                description:
                  type: string
                  example: "Replication link between Equinix Sydney and Melbourne NextDC"
                connections:
                  $ref: '#/components/schemas/connections'
                tag:
                  type: string
                  example: "prod"
                latency:
                  $ref: '#/components/schemas/latency'
                duration:
                  $ref: '#/components/schemas/duration.mins'
                bandwidth:
                  $ref: '#/components/schemas/bandwidth.kbs'
                renewal-option:
                  $ref: '#/components/schemas/renewal-option'
                link-type:
                  description: "1=VLAN, 2=VNF"
                  type: integer
                  example: 1
                topology_tag_uuid:
                  type: string
                  example: "684903a3-78b0-4005-9bfe-eece54ad42f3"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/success-fragment'
                  - type: object
                    properties:
                      params:
                        type: object
                        properties:
                          description:
                            type: string
                            example: "Replication link between Equinix Sydney and Melbourne NextDC"
                          duration:
                            $ref: '#/components/schemas/duration.mins'
                          bandwidth:
                            $ref: '#/components/schemas/bandwidth.kbs'
                          latency:
                            $ref: '#/components/schemas/latency'
                          linkid:
                            $ref: '#/components/schemas/linkid'
                          contractid:
                            $ref: '#/components/schemas/contractid'
                          price:
                            $ref: '#/components/schemas/price'
                          tag:
                            type: string
                            example: "prod"
                          connections:
                            $ref: '#/components/schemas/connections'
                          topology_tag_uuid:
                            type: string
                            example: "4830beab-2950-47be-a5f9-e3cfeee0eed9"
                          billing-id:
                            type: string
                            example: "3ba35364-226f-405b-a162-0689ac239b18"
                          renewal-option:
                            $ref: '#/components/schemas/renewal-option'
                          latency-sla:
                            type: string
                          linkstatus:
                            type: integer
                            example: 6
                          link-type:
                            type: string
                            example: "1"
  '/1.0.0/inventory/links/customer/{customeruuid}':
    parameters:
      - $ref: '#/components/parameters/customeruuid'
    get:
      summary: Get active Links
      tags:
        - links
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/link'
  '/1.0.0/inventory/links/history/{linkid}':
    parameters:
      - $ref: '#/components/parameters/linkid'
    get:
      summary: Get Link history
      tags:
        - links
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                    example: "Replication link between Equinix Sydney and Melbourne NextDC"
                  latency:
                    $ref: '#/components/schemas/latency'
                  linkid:
                    $ref: '#/components/schemas/linkid'
                  contracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/contract'
                  tag:
                    type: string
                    example: "prod"
                  connections:
                    $ref: '#/components/schemas/connections'
                  type:
                    type: string
                    example: "0"
                  linkStatus:
                    type: integer
                    example: 1
                  billing-id:
                    type: string
                    example: "9c1ffab1-d037-4cf7-a19d-d213a05f5e6a"
  '/1.0.0/inventory/links/{linkid}/contract/{contractid}':
    parameters:
      - $ref: '#/components/parameters/linkid'
      - $ref: '#/components/parameters/contractid'
    get:
      summary: Get active Contract by ContractID
      tags:
        - contracts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  params:
                    type: object
                    properties:
                      description:
                        type: string
                        example: "Replication link between Equinix Sydney and Melbourne NextDC"
                      duration:
                        $ref: '#/components/schemas/duration.mins'
                      bandwidth:
                        $ref: '#/components/schemas/bandwidth.kbs'
                      latency:
                        $ref: '#/components/schemas/latency'
                      linkid:
                        $ref: '#/components/schemas/linkid'
                      contractid:
                        $ref: '#/components/schemas/contractid'
                      price:
                        $ref: '#/components/schemas/price'
                      contractStatus:
                        $ref: '#/components/schemas/contractStatus'
                      version:
                        $ref: '#/components/schemas/version'
                      deletedtimestamp:
                        $ref: '#/components/schemas/deletedtimestamp'
                      tag:
                        type: string
                        example: "prod"
                      connection:
                        $ref: '#/components/schemas/connections'
                      type:
                        type: string
                        example: "0"
                      billing-id:
                        type: string
                        example: "3ba35364-226f-405b-a162-0689ac239b18"
                      renewal-option:
                        $ref: '#/components/schemas/renewal-option'
                      contract-start-time:
                        $ref: '#/components/schemas/contract-start-time'
                      contract-end-time:
                        $ref: '#/components/schemas/contract-end-time'
    put:
      summary: Update active Contract by ContractID
      tags:
        - contracts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                renewal-option:
                  $ref: '#/components/schemas/renewal-option'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/success-fragment'
                  - type: object
                    properties:
                      params:
                        type: object
                        properties:
                          duration:
                            $ref: '#/components/schemas/duration.mins'
                          linkid:
                            $ref: '#/components/schemas/linkid'
                          contractid:
                            $ref: '#/components/schemas/contractid'
                          price:
                            $ref: '#/components/schemas/price'
                          renewal-option:
                            $ref: '#/components/schemas/renewal-option'
  '/1.0.0/inventory/links/{linkid}':
    parameters:
      - $ref: '#/components/parameters/linkid'
    get:
      summary: Get details of specified link
      tags:
        - links
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                    example: "MEL-SYD"
                  latency:
                    $ref: '#/components/schemas/latency'
                  linkid:
                    $ref: '#/components/schemas/linkid'
                  contracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/contract'
                  tag:
                    type: string
                    example: "prod"
                  connections:
                    $ref: '#/components/schemas/connections'
                  type:
                    type: string
                    example: "0"
                  linkStatus:
                    type: integer
                    example: 1
                  topology_tag_uuid:
                    type: string
                    example: "5f02ee19-8de3-4a0d-8baf-823e4aa16780"
                  billing-id:
                    type: string
                    example: "d04544ba-6c9c-4e84-bd60-848e56a116c4"
  '/1.0.0/inventory/links/{linkid}/contract':
    parameters:
      - $ref: '#/components/parameters/linkid'
    post:
      summary: Create new Contract on specified link
      tags:
        - contracts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                duration:
                  $ref: '#/components/schemas/duration.hrs'
                bandwidth:
                  $ref: '#/components/schemas/bandwidth.mbs'
                renewal-option:
                  $ref: '#/components/schemas/renewal-option'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/success-fragment'
                  - type: object
                    properties:
                      params:
                        type: object
                        properties:
                          duration:
                            $ref: '#/components/schemas/duration.mins'
                          bandwidth:
                            $ref: '#/components/schemas/bandwidth.kbs'
                          linkid:
                            $ref: '#/components/schemas/linkid'
                          contractid:
                            $ref: '#/components/schemas/contractid'
                          currencyId:
                            $ref: '#/components/schemas/currencyID'
                          price:
                            $ref: '#/components/schemas/price'
                          renewal-option:
                            $ref: '#/components/schemas/renewal-option'
  /1.0.0/inventory/vnf/vport:
    post:
      summary: Create VNF VPort
      tags:
        - vports
        - vnfs
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customeruuid:
                  type: string
                  example: "e58af39b-4a89-43f2-b1ed-1816b6d1f8e9"
                vnfuuid:
                  type: string
                  example: "9da748fb-9044-4909-95c2-4245d7592bec"
                management_port:
                  type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  vnfuuid:
                    description: vnfuuid which was passed in the request
                    type: string
                    example: "9da748fb-9044-4909-95c2-4245d7592bec"
                  vnportuuid:
                    description: uuid of the newly-created vport
                    type: string
                    example: "1402ed53-4693-40e0-aa1e-5d5b85052f3d"



  /1.0.0/inventory/regularvport:
    post:
      summary: Create VPort for physical endpoint
      description: Create VPort representing a VLAN on a Physical Ethernet Port
      tags:
        - vports
        - endpoints
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                vporttype:
                  type: string
                  example: "vlan"
                endpointuuid:
                  type: string
                  example: "9a04a7ff-0a82-4259-9f2b-c384b6d720ab"
                vportvalue:
                  type: object
                  properties:
                    vlan:
                      $ref: '#/components/schemas/vlan'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/success-fragment'
                - type: object
                  properties:
                    vportuuid:
                      type: string
                      example: "251a54f9-f534-4d92-86b9-77e73bd4ede4"
  '/1.0.0/inventory/vport/{vportuuid}':
    parameters:
      - $ref: '#/components/parameters/vportuuid'
    get:
      summary: Get information about the specified VPort
      tags:
        - vports
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/endpoint-port'

  /1.0.0/marketplace/image:
    get:
      summary: List images in the Marketplace
      tags:
        - vnfs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      limit:
                        type: integer
                      next:
                        type: integer
                      offset:
                        type: integer
                      previous:
                        type: integer
                      total_count:
                        type: integer
                  objects:
                    type: array
                    items:
                      type: object
                      properties:
                        brief_description:
                          type: string
                          example: "Quagga for general use"
                        buyers:
                          type: string
                        classifications:
                          type: array
                          items:
                            type: object
                            properties:
                              description:
                                type: string
                                example: "Router"
                              id:
                                type: integer
                                example: 4
                              name:
                                type: string
                                example: "Router"
                        comments:
                          type: string
                        create_at:
                          type: integer
                          example: 1456314043
                        creator:
                          type: string
                          example: "1f10c671-cd71-4467-b605-d150113629b9"
                        description:
                          type: string
                          example: "Quagga router image with version 0.99.22.1"
                        eos:
                          type: string
                        flavors:
                          type: array
                          items:
                            $ref: '#/components/schemas/flavor'
                        flavors_price:
                          type: string
                        glance_comments:
                          type: string
                        glance_image:
                          type: object
                          properties:
                            create_at:
                              type: string
                            id:
                              type: integer
                              example: 7
                            name:
                              type: string
                              example: "quagga-0.99.22.1"
                            owner:
                              type: string
                              example: "9222433f-727d-4679-b807-3ce39b9f8ef2"
                            status:
                              type: string
                        glance_name:
                          type: string
                          example: "c9b2444c-239a-475b-af54-db9deccefca3"
                        glance_properties:
                          type: string
                        id:
                          type: integer
                          example: 6
                        image_format:
                          type: string
                          example: "qcow2"
                        license_required:
                          type: boolean
                        logo:
                          type: string
                          example: "https://marketplace-ms-production.s3.amazonaws.com/logos/cloud-8.jpg"
                        max_ports:
                          type: integer
                          example: 8
                        md5:
                          type: string
                        min_ports:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: "CSR1000v"
                        os_version:
                          type: string
                          example: "Ubuntu 16.04"
                        owner:
                          type: string
                          example: "d486321a-9a91-4879-8d7c-2fcf4506e33e"
                        product:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 7
                        publish_date:
                          type: string
                        restrict_vnc_console:
                          type: boolean
                        status:
                          type: string
                          example: "Published"
                        support_hot_plug:
                          type: boolean
                        tags:
                          type: array
                          items:
                            $ref: '#/components/schemas/vnf-tag'
                        upload_at:
                          type: integer
                          example: 1456315518
                        vendor_name:
                          type: string
                          example: "Cisco"
                        zero_day_config_spec:
                          type: string


  /ttms/1.0.0/topology_tag:
    get:
      summary: List all topology tags
      tags:
        - topologies
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/topology'
    post:
      summary: Create a named topology tag
      tags:
        - topologies
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Production WAN"
                description:
                  type: string
                  example: "Main topology for WAN"
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/topology'
  '/ttms/1.0.0/topology_tag/{topotaguuid}/':
    parameters:
      - $ref: '#/components/parameters/topotaguuid'
    get:
      summary: Get information about the specified topology tag
      tags:
        - topologies
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/topology'
  '/ttms/1.0.0/topology_tag/{topotaguuid}/objects/':
    parameters:
      - $ref: '#/components/parameters/topotaguuid'
    get:
      summary: List objects for Topology
      description: >-
        List all objects (Endpoints, Links, VPorts, etc.) associated with the
        topology tag.
      tags:
        - topologies
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoints:
                    type: array
                    items:
                      type: object
                      properties:
                        endpoint_uuid:
                          type: string
                          example: "88a86c13-9a71-4ea8-b4ed-f4d0d9ecb606"
                        vports:
                          type: array
                          items:
                            type: string
                            example: "7d5c7594-34fe-4b71-8b8b-b0bd919f5d0d"
                  links:
                    type: array
                    items:
                      type: object
                      properties:
                        linkid:
                          $ref: '#/components/schemas/linkid'
                        vport:
                          type: array
                          items:
                            type: string
                            example: "63cd1f6d-8a0a-4ec5-aae2-65f31add9d6a"
                  sharedvports:
                    type: array
                    items:
                      type: string
                      example: "03b39458-8938-4ef1-a2c7-826b2566873e"
                  topology_tag:
                    type: string
                    example: "7a09af3d-d4e5-4538-a1e6-9f83d751e163"
  /1.0.0/auth/generatetoken:
    post:
      summary: Create an authentication token
      tags:
        - authentication
      security: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  example: password
                  default: password
                username:
                  type: string
                password:
                  type: string
              required:
                - grant_type
                - username
                - password
      responses:
        '200':
          description: A JSON hash containing the bearer token
          content:
            application/json:
              schema:
                type: object
                properties:
                  token_type:
                    type: string
                    example: "bearer"
                  expires_in:
                    type: integer
                    example: 6900
                  refresh_token:
                    type: string
                    example: "6fdad23ccbc1f8e415fc2cf8cd245dae"
                  access_token:
                    type: string
                    example: "a8856a1a4e25b23d86fa9ae2ffce3b63"
        '412':
          description: Provided authorization grant is invalid
  /1.0.0/auth/validatetoken:
    get:
      summary: Validate authentication token
      description: >-
        Validate the authentication token and get information about the user
        (roles, permissions, etc.)
      tags:
        - authentication
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  company-name:
                    type: string
                    example: "Acme Corporation"
                  userid:
                    type: string
                    example: "321a5016-00a5-44ed-a749-4531ed89979a"
                  internalid:
                    type: integer
                    example: 353
                  customerid:
                    type: string
                    example: "bae254c1-3d78-4d68-8948-8b929c48e576"
                  customer-account:
                    type: string
                    example: "70012345"
                  billings:
                    type: array
                    items:
                      $ref: '#/components/schemas/billing'
                  roles:
                    type: array
                    items:
                      $ref: '#/components/schemas/role'

  '/1.0.0/account/{customeruuid}':
    parameters:
      - $ref: '#/components/parameters/customeruuid'
    get:
      summary: Get account information details
      description: Get the account information for the specified customer
      tags:
        - customers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  phone:
                    type: string
                    example: "7026661954"
                  city:
                    type: string
                    example: "Dallas"
                  fax:
                    type: string
                    example: null
                  country:
                    type: string
                    example: "USA"
                  address:
                    type: string
                    example: "555 Paularino Avenue"
                  state:
                    type: string
                    example: "Texas"
                  website:
                    type: string
                    example: "http://dummy.com"
                  companyuuid:
                    type: string
                    example: "a6cef301-de34-4654-8933-ceafc7d2ae6e"
                  companyname:
                    type: string
                    example: "customer.pen.10"
                  postalcode:
                    type: string
                    example: "75024"
                  customertype:
                    type: string
                    example: ""
                  status:
                    type: string
                    example: "1"
                  customeraccountid:
                    type: string
                    example: "71234010"
        '401': # should be 403 Forbidden
          $ref: '#/components/responses/forbidden'
  '/1.0.0/account/{customeruuid}/user':
    parameters:
      - $ref: '#/components/parameters/customeruuid'
    get:
      summary: List users
      description: List all users associated with the specified customer
      tags:
        - customers
        - users
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/user'
tags:
  - name: authentication
    description: Authentication
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#customer-user-account
  - name: endpoints
    description: Endpoints
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#endpoint
  - name: internet
    description: Internet
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#endpoint
  - name: links
    description: Links
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#link
  - name: contracts
    description: Contracts
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#contract
  - name: vports
    description: Virtual Ports (VPorts)
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#virtual-ports-vport
  - name: vnfs
    description: Virtual Network Functions (Marketplace)
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#virtual-network-functions-marketplace
  - name: datacentres
    description: Data Centres
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#data-centre
  - name: exchange
    description: Global Exchange
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#global-exchange
  - name: ipvpn
    description: Telstra Global IPVPN
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#telstra-global-ipvpn
  - name: nextip
    description: Telstra Australian IPVPN (Next IP)
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#telstra-next-ip
  - name: topologies
    description: Topologies
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#topology-and-tag
  - name: customers
    description: Customers
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#customer-user-account
  - name: users
    description: Users
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#customer-user-account
  - name: pricing
    description: Pricing
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#customer-user-account
  - name: statistics
    description: Statistics
    externalDocs:
      url: >-
        https://dev.telstra.com/content/programmable-network-api/key-concepts#statistics
