swagger: '2.0'
info:
  version: 2.3.2
  title: Telstra Programmable Network API
  description: |-
    Telstra Programmable Network is a self-provisioning platform that allows its users to create on-demand connectivity services between multiple end-points and add various network functions to those services. Programmable Network enables to connectivity to a global ecosystem of networking services as well as public and private cloud services. Once you are connected to the platform on one or more POPs (points of presence), you can start creating those services based on the use case that you want to accomplish. The Programmable Network API is available to all customers who have registered to use the Programmable Network.
    To register, please contact your account representative.
  license:
    name: MIT
    url: 'http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT'
host: penapi.pacnetconnect.com
basePath: /
securityDefinitions:
  auth:
    type: oauth2
    flow: password
    tokenUrl: 'https://penapi.pacnetconnect.com/1.0.0/auth/generatetoken'
    scopes:
      oAuth2: oAuth2
    x-skip-client-authentication: false
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/1.0.0/account/{customeruuid}/user':
    get:
      description: List all users associated with the specified customer
      summary: accountcustomeruuiduserget
      tags:
        - customers
      operationId: AccountUserByCustomeruuidGet
      produces:
        - application/json
      parameters:
        - name: customeruuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific customer
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/1.0.0/account/{customeruuid}':
    get:
      description: Get the account information for the specified customer
      summary: accountcustomeruuidget
      tags:
        - customers
      operationId: AccountByCustomeruuidGet
      produces:
        - application/json
      parameters:
        - name: customeruuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific customer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AccountcustomeruuidgetResponse'
          examples: {}
        '401':
          description: Authorization Failed
          schema:
            $ref: '#/definitions/Error'
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /ttms/1.0.0/topology_tag:
    get:
      description: List all topology tags
      summary: ttmstopologytagget
      tags:
        - topologies
      operationId: Ttms100TopologyTagGet
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Topology'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: Create a named topology tag
      summary: ttmstopologytagpost
      tags:
        - topologies
      operationId: Ttms100TopologyTagPost
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/Body72'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Topology'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/ttms/1.0.0/topology_tag/{topotaguuid}/objects/':
    get:
      description: 'List all objects (Endpoints, Links, VPorts, etc.) associated with the topology tag.'
      summary: ttmstopologytagtopotaguuidobjectsget
      tags:
        - topologies
      operationId: Ttms100TopologyTagObjectsByTopotaguuidGet
      produces:
        - application/json
      parameters:
        - name: topotaguuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific topology tag
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TtmstopologytagtopotaguuidobjectsgetResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/ttms/1.0.0/topology_tag/{topotaguuid}/':
    get:
      description: Get information about the specified topology tag
      summary: ttmstopologytagtopotaguuidget
      tags:
        - topologies
      operationId: Ttms100TopologyTagByTopotaguuidGet
      produces:
        - application/json
      parameters:
        - name: topotaguuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific topology tag
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Topology'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      description: Update a topology tag's name and/or description
      summary: ttmstopologytagtopotaguuidput
      tags:
        - topologies
      operationId: Ttms100TopologyTagByTopotaguuidPut
      produces:
        - application/json
      parameters:
        - name: topotaguuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific topology tag
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/Body72'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Topology'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      description: Delete a topology tag
      summary: ttmstopologytagtopotaguuiddelete
      tags:
        - topologies
      operationId: Ttms100TopologyTagByTopotaguuidDelete
      produces:
        - application/json
      parameters:
        - name: topotaguuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific topology tag
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/Body72'
      responses:
        '204':
          description: No Content
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /1.0.0/inventory/datacenters:
    get:
      description: Get list of all the data centers
      summary: inventorydatacentersget
      tags:
        - datacentres
      operationId: InventoryDatacentersGet
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: array of data center objects
          schema:
            $ref: '#/definitions/InventorydatacentersgetResponse'
          examples: {}
        '400':
          description: Request is not correctly formatted
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: Missing Token
          schema:
            $ref: '#/definitions/InventorydatacentersgetException'
        '403':
          description: Authorization Failed
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Specified object cannot be found
          schema:
            $ref: '#/definitions/Error'
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/Error'
        '409':
          description: Status onflict
          schema:
            $ref: '#/definitions/Error'
        '422':
          description: Request is invalid
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Backend Error
          schema:
            $ref: '#/definitions/Error'
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/vnfds/1.0.0/vnf/{vnfuuid}/suspend':
    post:
      description: 'Note that body must be {}'
      summary: vnfdsvnfvnfuuidsuspendpost
      tags:
        - vnfs
      operationId: Vnfds100VnfSuspendByVnfuuidPost
      produces:
        - application/json
      parameters:
        - name: vnfuuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific virtual network function
      responses:
        '200':
          description: Success
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/vnfds/1.0.0/vnf/{vnfuuid}/resume':
    post:
      description: 'Note that body must be {}'
      summary: vnfdsvnfvnfuuidresumepost
      tags:
        - vnfs
      operationId: Vnfds100VnfResumeByVnfuuidPost
      produces:
        - application/json
      parameters:
        - name: vnfuuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific virtual network function
      responses:
        '200':
          description: Success
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/vnfds/1.0.0/vnf/{vnfuuid}/reboot':
    post:
      description: reboot_type is 'warm' or 'cold'
      summary: vnfdsvnfvnfuuidrebootpost
      tags:
        - vnfs
      operationId: Vnfds100VnfRebootByVnfuuidPost
      produces:
        - application/json
      parameters:
        - name: vnfuuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific virtual network function
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/Body80'
      responses:
        '200':
          description: Success
        '400':
          description: Request is not correctly formatted
          schema:
            $ref: '#/definitions/Error'
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/vnfds/1.0.0/vnf/{vnfuuid}/':
    get:
      description: |-
        'Possible return values:
          ACTIVE,
          BUILD,
          SHUTOFF,
          VERIFY_RESIZE,
          PAUSED,
          SUSPENDED,
          RESCUE,
          ERROR,
          DELETED,
          SOFT_DELETED,
          SHELVED,
          SHELVED_OFFLOADED'
      summary: vnfdsvnfvnfuuidget
      tags:
        - vnfs
      operationId: Vnfds100VnfByVnfuuidGet
      produces:
        - application/json
      parameters:
        - name: vnfuuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific virtual network function
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VnfdsvnfvnfuuidgetResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/1.0.0/marketplace/image/{imageid}/remove_from_my_images/':
    post:
      description: 'Note that trailing / is required, body must be {}'
      summary: marketplaceimageimageidremovefrommyimagespost
      tags:
        - vnfs
      operationId: MarketplaceImageRemoveFromMyImagesByImageidPost
      produces:
        - application/json
      parameters:
        - name: imageid
          in: path
          required: true
          type: integer
          format: int32
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Identifier representing a specific VNF image
        - name: body
          in: body
          required: false
          description: ''
          schema:
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MarketplaceimageimageidremovefrommyimagespostResponse'
          examples: {}
        '404':
          description: Specified object cannot be found
          schema:
            $ref: '#/definitions/Error'
        '422':
          description: Request is invalid
          schema:
            $ref: '#/definitions/Error'
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/1.0.0/marketplace/image/{imageid}/add_to_my_images/':
    post:
      description: 'Note that trailing / is required, body must be {}'
      summary: marketplaceimageimageidaddtomyimagespost
      tags:
        - vnfs
      operationId: MarketplaceImageAddToMyImagesByImageidPost
      produces:
        - application/json
      parameters:
        - name: imageid
          in: path
          required: true
          type: integer
          format: int32
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Identifier representing a specific VNF image
        - name: body
          in: body
          required: false
          description: ''
          schema:
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MarketplaceimageimageidaddtomyimagespostResponse'
          examples: {}
        '404':
          description: Specified object cannot be found
          schema:
            $ref: '#/definitions/Error'
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/1.0.0/marketplace/image/{imageid}/':
    get:
      description: Note that trailing / is required
      summary: marketplaceimageimageidget
      tags:
        - vnfs
      operationId: MarketplaceImageByImageidGet
      produces:
        - application/json
      parameters:
        - name: imageid
          in: path
          required: true
          type: integer
          format: int32
          exclusiveMaximum: false
          exclusiveMinimum: false
          description: Identifier representing a specific VNF image
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Image'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/1.0.0/inventory/vport/{vportuuid}':
    get:
      description: Get information about the specified VPort
      summary: inventoryvportvportuuidget
      tags:
        - vports
      operationId: InventoryVportByVportuuidGet
      produces:
        - application/json
      parameters:
        - name: vportuuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific virtual port
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EndpointPort'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /1.0.0/inventory/regularvport:
    post:
      description: Create VPort representing a VLAN on a Physical Ethernet Port
      summary: inventoryregularvportpost
      tags:
        - vports
      operationId: InventoryRegularvportPost
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/Body53'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InventoryregularvportpostResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /1.0.0/marketplace/image/my_images/:
    get:
      description: Note that trailing / is required
      summary: marketplaceimagemyimagesget
      tags:
        - vnfs
      operationId: MarketplaceImageMyImagesGet
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MarketplaceimagemyimagesgetResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/1.0.0/inventory/links/{linkid}/contract/{contractid}':
    get:
      description: Get active Contract by ContractID
      summary: inventorylinksget
      tags:
        - contracts
      operationId: InventoryLinksContractByLinkidAndContractidGet
      produces:
        - application/json
      parameters:
        - name: linkid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific link
        - name: contractid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific contract
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InventorylinksgetResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      description: Update active Contract by ContractID
      summary: inventorylinksput
      tags:
        - contracts
      operationId: InventoryLinksContractByLinkidAndContractidPut
      produces:
        - application/json
      parameters:
        - name: linkid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific link
        - name: contractid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific contract
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/Body45'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InventorylinksputResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /1.0.0/marketplace/image:
    get:
      description: List images in the Marketplace
      summary: marketplaceimageget
      tags:
        - vnfs
      operationId: MarketplaceImageGet
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MarketplaceimagegetResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /1.0.0/inventory/vnf/vport:
    post:
      description: Create VNF VPort
      summary: inventoryvnfvportpost
      tags:
        - vports
      operationId: InventoryVnfVportPost
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/Body56'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InventoryvnfvportpostResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/1.0.0/inventory/links/{linkid}/contract':
    post:
      description: Create new Contract on specified link
      summary: inventorylinkslinkidcontractpost
      tags:
        - contracts
      operationId: InventoryLinksContractByLinkidPost
      produces:
        - application/json
      parameters:
        - name: linkid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific link
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/Body42'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InventorylinkslinkidcontractpostResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/1.0.0/inventory/links/{linkid}':
    get:
      description: Get details of specified link
      summary: inventorylinkslinkidget
      tags:
        - links
      operationId: InventoryLinksByLinkidGet
      produces:
        - application/json
      parameters:
        - name: linkid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific link
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InventorylinkslinkidgetResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/1.0.0/inventory/links/history/{linkid}':
    get:
      description: Get Link history
      summary: inventorylinkshistorylinkidget
      tags:
        - links
      operationId: InventoryLinksHistoryByLinkidGet
      produces:
        - application/json
      parameters:
        - name: linkid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific link
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InventorylinkshistorylinkidgetResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/1.0.0/inventory/links/customer/{customeruuid}':
    get:
      description: Get active Links
      summary: inventorylinkscustomercustomeruuidget
      tags:
        - links
      operationId: InventoryLinksCustomerByCustomeruuidGet
      produces:
        - application/json
      parameters:
        - name: customeruuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific customer
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Link'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/eis/1.0.0/endpoints/{endpointuuid}/assign_topology_tag':
    post:
      description: Assign an Endpoint to a Topology
      summary: eisendpointsendpointuuidassigntopologytagpost
      tags:
        - endpoints
      operationId: Eis100EndpointsAssignTopologyTagByEndpointuuidPost
      produces:
        - application/json
      parameters:
        - name: endpointuuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific endpoint
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/Body71'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/SuccessFragment'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/eis/1.0.0/endpoints/topology_tag_uuid/{topotaguuid}/endpoint/{endpointuuid}':
    delete:
      description: Remove Endpoint from a Topology
      summary: eisendpointstopologytaguuiddelete
      tags:
        - endpoints
      operationId: Eis100EndpointsTopologyTagUuidEndpointByTopotaguuidAndEndpointuuidDelete
      produces:
        - application/json
      parameters:
        - name: topotaguuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific topology tag
        - name: endpointuuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific endpoint
      responses:
        '204':
          description: No Content
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/eis/1.0.0/endpoints/topology_tag_uuid/{topotaguuid}':
    get:
      description: List all Endpoints associated with the topology tag.
      summary: eisendpointstopologytaguuidtopotaguuidget
      tags:
        - endpoints
      operationId: Eis100EndpointsTopologyTagUuidByTopotaguuidGet
      produces:
        - application/json
      parameters:
        - name: topotaguuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific topology tag
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EisendpointstopologytaguuidtopotaguuidgetResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /1.0.0/inventory/link:
    post:
      description: Create Link and initial Contract
      summary: inventorylinkpost
      tags:
        - links
      operationId: InventoryLinkPost
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/Body'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InventorylinkpostResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /1.0.0/auth/validatetoken:
    get:
      description: 'Validate the authentication token and get information about the user (roles, permissions, etc.)'
      summary: authvalidatetokenget
      tags:
        - authentication
      operationId: AuthValidatetokenGet
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthvalidatetokengetResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/eis/1.0.0/endpoint/endpointuuid/{endpointuuid}':
    put:
      description: Update Endpoint name
      summary: eisendpointendpointuuidendpointuuidput
      tags:
        - endpoints
      operationId: Eis100EndpointEndpointuuidByEndpointuuidPut
      produces:
        - application/json
      parameters:
        - name: endpointuuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific endpoint
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/Body67'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessFragment'
          examples: {}
        '400':
          description: Request is not correctly formatted
          schema:
            $ref: '#/definitions/Error'
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /1.0.0/inventory/vnfendpoint:
    post:
      description: Instantiate Virtual Network Function
      summary: inventoryvnfendpointpost
      tags:
        - endpoints
      operationId: InventoryVnfendpointPost
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/Body58'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InventoryvnfendpointpostResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /1.0.0/inventory/regularendpoint:
    post:
      description: Create Physical (Port) Endpoint
      summary: inventoryregularendpointpost
      tags:
        - endpoints
      operationId: InventoryRegularendpointPost
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/Body51'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InventoryregularendpointpostResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/1.0.0/inventory/endpoints/customeruuid/{customeruuid}':
    get:
      description: Get list of endpoints for a customer
      summary: inventoryendpointscustomeruuidcustomeruuidget
      tags:
        - endpoints
      operationId: InventoryEndpointsCustomeruuidByCustomeruuidGet
      produces:
        - application/json
      parameters:
        - name: customeruuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific customer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InventoryendpointscustomeruuidcustomeruuidgetResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/1.0.0/inventory/endpoint/{endpointuuid}':
    get:
      description: Get information about the specified endpoint
      summary: inventoryendpointendpointuuidget
      tags:
        - endpoints
      operationId: InventoryEndpointByEndpointuuidGet
      produces:
        - application/json
      parameters:
        - name: endpointuuid
          in: path
          required: true
          type: string
          description: Unique identifier representing a specific endpoint
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InventoryendpointendpointuuidgetResponse'
          examples: {}
      security:
        - auth:
            - oAuth2
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /1.0.0/auth/generatetoken:
    post:
      description: Create an authentication token
      summary: authgeneratetokenpost
      tags:
        - authentication
      operationId: AuthGeneratetokenPost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: grant_type
          in: formData
          required: true
          type: string
          description: ''
        - name: username
          in: formData
          required: true
          type: string
          description: ''
        - name: password
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: A JSON hash containing the bearer token
          schema:
            $ref: '#/definitions/AuthgeneratetokenpostResponse'
          examples: {}
        '412':
          description: Provided authorization grant is invalid
          schema: {}
      security:
        - auth: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
definitions:
  Vportvalue:
    title: Vportvalue
    type: object
    properties:
      vlan:
        $ref: '#/definitions/Vlan'
  TtmstopologytagtopotaguuidobjectsgetResponse:
    title: ttmstopologytagtopotaguuidobjectsgetResponse
    type: object
    properties:
      endpoints:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Endpoint'
      links:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Link78'
      sharedvports:
        description: ''
        type: array
        items:
          type: string
      topology_tag:
        description: ''
        example: 7a09af3d-d4e5-4538-a1e6-9f83d751e163
        type: string
  EisendpointstopologytaguuidtopotaguuidgetResponse:
    title: eisendpointstopologytaguuidtopotaguuidgetResponse
    type: object
    properties:
      endpoints:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Endpoint'
      sharedvports:
        description: ''
        type: array
        items:
          type: string
      topology-id:
        description: ''
        example: 2ecaa946-848f-4f57-a000-bc15e64bd141
        type: string
  Body80:
    title: body80
    type: object
    properties:
      reboot_type:
        description: ''
        example: warm
        type: string
  Params47:
    title: Params47
    type: object
    properties:
      bandwidth:
        description: Bandwidth in kB/s
        example: 1000
        type: integer
        minimum: 1000
        maximum: 10000000
        format: int32
      billing-id:
        description: ''
        example: 3ba35364-226f-405b-a162-0689ac239b18
        type: string
      connection:
        description: ''
        example:
          - 5134d2ba-ce81-4b1c-9242-d2f30896c3a0
          - e2f182ee-8c06-410d-b0fe-e21c9e7ee7bd
        type: array
        items:
          type: string
        minItems: 2
        maxItems: 2
      contract-end-time:
        description: ''
        example: 1508593521000
        type: integer
        format: int64
      contract-start-time:
        description: ''
        example: 1508589922000
        type: integer
        format: int64
      contractStatus:
        description: ''
        example: 8
        type: integer
        format: int32
      contractid:
        description: Identifier of a contract
        example: f070660600c1c45f.2
        type: string
      deletedtimestamp:
        description: ''
        example: 0
        type: integer
        format: int32
      description:
        description: ''
        example: '"Replication link between Equinix SYD and NextDC MEL"'
        type: string
      duration:
        description: Duration of contract in minutes
        example: 3600
        type: integer
        minimum: 3600
        format: int32
      latency:
        description: 'Latency: 0=Low, 1=Standard, 2=Best Effort'
        example: 0
        type: integer
        format: int32
      linkid:
        description: Identifier of a link
        example: f070660600c1c45f
        type: string
      price:
        description: ''
        example: 259
        type: integer
        format: int32
      renewal-option:
        description: '"Renewal Option: 0=Auto Disconnect, 1=Auto Renew, 2=Pay per hour"'
        example: 0
        type: integer
        format: int32
      tag:
        description: ''
        example: prod
        type: string
      type:
        description: ''
        example: '0'
        type: string
      version:
        description: ''
        example: 20431
        type: integer
        format: int32
  InventoryvnfendpointpostResponse:
    title: inventoryvnfendpointpostResponse
    type: object
    properties:
      success-auxiliary:
        description: ''
        example: success
        type: string
      success-code:
        description: ''
        example: 20000
        type: integer
        format: int32
      success-message:
        description: ''
        example: vport created successfully
        type: string
      customeruuid:
        description: ''
        example: 9a6c0b09-6864-4f1b-bc03-842268ca1061
        type: string
      vnfuuid:
        description: ''
        example: 37449aab-0aa2-44ae-929b-7616549ee20e
        type: string
  Body58:
    title: body58
    type: object
    properties:
      config:
        description: 'Boot configuration for VNF, base64 encoded'
        type: string
      customeruuid:
        description: ''
        example: e66546d2-eb85-442f-a4d4-a4f6f4cee6bc
        type: string
      datacenteruuid:
        description: ''
        example: 2e5ff2d1-da1b-4e5d-81a8-58f1780b1031
        type: string
      flavoruuid:
        description: ''
        example: 22
        type: integer
        format: int32
      imageuuid:
        description: ''
        example: 21
        type: integer
        format: int32
      topology_tag_uuid:
        description: ''
        example: f6c14b31-f29f-4be2-919b-5b7f463e4a3c
        type: string
    required:
      - config
      - customeruuid
      - datacenteruuid
      - flavoruuid
      - imageuuid
  VnfdsvnfvnfuuidgetResponse:
    title: vnfdsvnfvnfuuidgetResponse
    type: object
    properties:
      status:
        description: ''
        example: ACTIVE
        type: string
  Params:
    title: Params
    type: object
    properties:
      bandwidth:
        description: Bandwidth in kB/s
        example: 1000
        type: integer
        minimum: 1000
        maximum: 10000000
        format: int32
      billing-id:
        description: ''
        example: 3ba35364-226f-405b-a162-0689ac239b18
        type: string
      connections:
        description: ''
        example:
          - 5134d2ba-ce81-4b1c-9242-d2f30896c3a0
          - e2f182ee-8c06-410d-b0fe-e21c9e7ee7bd
        type: array
        items:
          type: string
        minItems: 2
        maxItems: 2
      contractid:
        description: Identifier of a contract
        example: f070660600c1c45f.2
        type: string
      description:
        description: ''
        example: Replication link between Equinix SYD and NextDC MEL
        type: string
      duration:
        description: Duration of contract in minutes
        example: 3600
        type: integer
        minimum: 3600
        format: int32
      latency:
        description: 'Latency: 0=Low, 1=Standard, 2=Best Effort'
        example: 0
        type: integer
        format: int32
      latency-sla:
        description: ''
        type: string
      link-type:
        description: ''
        example: '1'
        type: string
      linkid:
        description: Identifier of a link
        example: f070660600c1c45f
        type: string
      linkstatus:
        description: ''
        example: 6
        type: integer
        format: int32
      price:
        description: ''
        example: 259
        type: integer
        format: int32
      renewal-option:
        description: '"Renewal Option: 0=Auto Disconnect, 1=Auto Renew, 2=Pay per hour"'
        example: 0
        type: integer
        format: int32
      tag:
        description: ''
        example: prod
        type: string
      topology_tag_uuid:
        description: ''
        example: 4830beab-2950-47be-a5f9-e3cfeee0eed9
        type: string
  Image:
    title: image
    type: object
    properties:
      tags:
        description: ''
        type: array
        items:
          $ref: '#/definitions/VnfTag'
      brief_description:
        description: ''
        example: Quagga for general use
        type: string
      buyers:
        description: ''
        type: string
      classifications:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Classification'
      comments:
        description: ''
        type: string
      create_at:
        description: ''
        example: 1456314043
        type: integer
        format: int32
      creator:
        description: ''
        example: 1f10c671-cd71-4467-b605-d150113629b9
        type: string
      description:
        description: ''
        example: Quagga router image with version 0.99.22.1
        type: string
      eos:
        description: ''
        type: string
      flavors:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Flavor'
      flavors_price:
        description: ''
        type: string
      glance_comments:
        description: ''
        type: string
      glance_image:
        $ref: '#/definitions/GlanceImage'
      glance_name:
        description: ''
        example: c9b2444c-239a-475b-af54-db9deccefca3
        type: string
      glance_properties:
        description: ''
        type: string
      id:
        description: ''
        example: 6
        type: integer
        format: int32
      image_format:
        description: ''
        example: qcow2
        type: string
      license_required:
        description: ''
        type: boolean
      logo:
        description: ''
        example: '"https://marketplace-ms-production.s3.amazonaws.com/logos/cloud-8.jpg"'
        type: string
      max_ports:
        description: ''
        example: 8
        type: integer
        format: int32
      md5:
        description: ''
        type: string
      min_ports:
        description: ''
        example: 1
        type: integer
        format: int32
      name:
        description: ''
        example: CSR1000v
        type: string
      os_version:
        description: ''
        example: Ubuntu 16.04
        type: string
      owner:
        description: ''
        example: d486321a-9a91-4879-8d7c-2fcf4506e33e
        type: string
      product:
        $ref: '#/definitions/Product'
      publish_date:
        description: ''
        type: string
      restrict_vnc_console:
        description: ''
        type: boolean
      status:
        description: ''
        example: Published
        type: string
      support_hot_plug:
        description: ''
        type: boolean
      upload_at:
        description: ''
        example: 1456315518
        type: integer
        format: int32
      vendor_name:
        description: ''
        example: Cisco
        type: string
      zero_day_config_spec:
        description: ''
        type: string
  InventoryvnfvportpostResponse:
    title: inventoryvnfvportpostResponse
    type: object
    properties:
      vnfuuid:
        description: vnfuuid which was passed in the request
        example: 9da748fb-9044-4909-95c2-4245d7592bec
        type: string
      vnportuuid:
        description: uuid of the newly-created vport
        example: 1402ed53-4693-40e0-aa1e-5d5b85052f3d
        type: string
  Body56:
    title: body56
    type: object
    properties:
      customeruuid:
        description: ''
        example: e58af39b-4a89-43f2-b1ed-1816b6d1f8e9
        type: string
      management_port:
        description: ''
        type: boolean
      vnfuuid:
        description: ''
        example: 9da748fb-9044-4909-95c2-4245d7592bec
        type: string
  InventoryregularvportpostResponse:
    title: inventoryregularvportpostResponse
    type: object
    properties:
      success-auxiliary:
        description: ''
        example: success
        type: string
      success-code:
        description: ''
        example: 20000
        type: integer
        format: int32
      success-message:
        description: ''
        example: vport created successfully
        type: string
      vportuuid:
        description: ''
        example: 251a54f9-f534-4d92-86b9-77e73bd4ede4
        type: string
  Link78:
    title: Link78
    type: object
    properties:
      linkid:
        description: Identifier of a link
        example: f070660600c1c45f
        type: string
      vport:
        description: ''
        type: array
        items:
          type: string
  Params50:
    title: Params50
    type: object
    properties:
      contractid:
        description: Identifier of a contract
        example: f070660600c1c45f.2
        type: string
      duration:
        description: Duration of contract in minutes
        example: 3600
        type: integer
        minimum: 3600
        format: int32
      linkid:
        description: Identifier of a link
        example: f070660600c1c45f
        type: string
      price:
        description: ''
        example: 259
        type: integer
        format: int32
      renewal-option:
        description: '"Renewal Option: 0=Auto Disconnect, 1=Auto Renew, 2=Pay per hour"'
        example: 0
        type: integer
        format: int32
  Params44:
    title: Params44
    type: object
    properties:
      bandwidth:
        description: Bandwidth in kB/s
        example: 1000
        type: integer
        minimum: 1000
        maximum: 10000000
        format: int32
      contractid:
        description: Identifier of a contract
        example: f070660600c1c45f.2
        type: string
      currencyId:
        description: ''
        example: '1'
        type: string
      duration:
        description: Duration of contract in minutes
        example: 3600
        type: integer
        minimum: 3600
        format: int32
      linkid:
        description: Identifier of a link
        example: f070660600c1c45f
        type: string
      price:
        description: ''
        example: 259
        type: integer
        format: int32
      renewal-option:
        description: '"Renewal Option: 0=Auto Disconnect, 1=Auto Renew, 2=Pay per hour"'
        example: 0
        type: integer
        format: int32
  Body72:
    title: body72
    type: object
    properties:
      description:
        description: ''
        example: Main topology for WAN
        type: string
      name:
        description: ''
        example: Production WAN
        type: string
  Body53:
    title: body53
    type: object
    properties:
      endpointuuid:
        description: ''
        example: 9a04a7ff-0a82-4259-9f2b-c384b6d720ab
        type: string
      vporttype:
        description: ''
        example: vlan
        type: string
      vportvalue:
        $ref: '#/definitions/Vportvalue'
  InventorylinkslinkidgetResponse:
    title: inventorylinkslinkidgetResponse
    type: object
    properties:
      billing-id:
        description: ''
        example: d04544ba-6c9c-4e84-bd60-848e56a116c4
        type: string
      connections:
        description: ''
        example:
          - 5134d2ba-ce81-4b1c-9242-d2f30896c3a0
          - e2f182ee-8c06-410d-b0fe-e21c9e7ee7bd
        type: array
        items:
          type: string
        minItems: 2
        maxItems: 2
      contracts:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Contract'
      description:
        description: ''
        example: MEL-SYD
        type: string
      latency:
        description: 'Latency: 0=Low, 1=Standard, 2=Best Effort'
        example: 0
        type: integer
        format: int32
      linkStatus:
        description: ''
        example: 1
        type: integer
        format: int32
      linkid:
        description: Identifier of a link
        example: f070660600c1c45f
        type: string
      tag:
        description: ''
        example: prod
        type: string
      topology_tag_uuid:
        description: ''
        example: 5f02ee19-8de3-4a0d-8baf-823e4aa16780
        type: string
      type:
        description: ''
        example: '0'
        type: string
  Body:
    title: body
    type: object
    properties:
      bandwidth:
        description: Bandwidth in kB/s
        example: 1000
        type: integer
        minimum: 1000
        maximum: 10000000
        format: int32
      billing-id:
        description: ''
        example: 684903a3-78b0-4005-9bfe-eece54ad42f3
        type: string
      connections:
        description: ''
        example:
          - 5134d2ba-ce81-4b1c-9242-d2f30896c3a0
          - e2f182ee-8c06-410d-b0fe-e21c9e7ee7bd
        type: array
        items:
          type: string
        minItems: 2
        maxItems: 2
      description:
        description: ''
        example: '"Replication link between Equinix SYD and NextDC MEL"'
        type: string
      duration:
        description: Duration of contract in minutes
        example: 3600
        type: integer
        minimum: 3600
        format: int32
      latency:
        description: 'Latency: 0=Low, 1=Standard, 2=Best Effort'
        example: 0
        type: integer
        format: int32
      link-type:
        description: '1=VLAN, 2=VNF'
        example: 1
        type: integer
        format: int32
      renewal-option:
        description: '"Renewal Option: 0=Auto Disconnect, 1=Auto Renew, 2=Pay per hour"'
        example: 0
        type: integer
        format: int32
      tag:
        description: ''
        example: prod
        type: string
      topology_tag_uuid:
        description: ''
        example: 684903a3-78b0-4005-9bfe-eece54ad42f3
        type: string
  AccountcustomeruuidgetResponse:
    title: accountcustomeruuidgetResponse
    type: object
    properties:
      address:
        description: ''
        example: 555 Paularino Avenue
        type: string
      city:
        description: ''
        example: Dallas
        type: string
      companyname:
        description: ''
        example: customer.pen.10
        type: string
      companyuuid:
        description: ''
        example: a6cef301-de34-4654-8933-ceafc7d2ae6e
        type: string
      country:
        description: ''
        example: USA
        type: string
      customeraccountid:
        description: ''
        example: '71234010'
        type: string
      customertype:
        description: ''
        type: string
      fax:
        description: ''
        type: string
      phone:
        description: ''
        example: '7026661954'
        type: string
      postalcode:
        description: ''
        example: '75024'
        type: string
      state:
        description: ''
        example: Texas
        type: string
      status:
        description: ''
        example: '1'
        type: string
      website:
        description: ''
        example: 'http://dummy.com'
        type: string
  InventoryregularendpointpostResponse:
    title: inventoryregularendpointpostResponse
    type: object
    properties:
      success-auxiliary:
        description: ''
        example: success
        type: string
      success-code:
        description: ''
        example: 20000
        type: integer
        format: int32
      success-message:
        description: ''
        example: vport created successfully
        type: string
      endpointuuid:
        description: ''
        example: c6b5c04f-c968-432e-a70f-b929437ea6e4
        type: string
  Body51:
    title: body51
    type: object
    properties:
      customeruuid:
        description: ''
        example: 6a607f5f-25c9-45a1-a960-a34245509208
        type: string
      datacenteruuid:
        description: ''
        example: dc8f4a57-4621-4b17-87bd-e5a7e508bf7a
        type: string
      interfacetype:
        description: ''
        example: 1000Base-TX
        type: string
  InventorylinkshistorylinkidgetResponse:
    title: inventorylinkshistorylinkidgetResponse
    type: object
    properties:
      billing-id:
        description: ''
        example: 9c1ffab1-d037-4cf7-a19d-d213a05f5e6a
        type: string
      connections:
        description: ''
        example:
          - 5134d2ba-ce81-4b1c-9242-d2f30896c3a0
          - e2f182ee-8c06-410d-b0fe-e21c9e7ee7bd
        type: array
        items:
          type: string
        minItems: 2
        maxItems: 2
      contracts:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Contract'
      description:
        description: ''
        example: '"Replication link between Equinix SYD and NextDC MEL"'
        type: string
      latency:
        description: 'Latency: 0=Low, 1=Standard, 2=Best Effort'
        example: 0
        type: integer
        format: int32
      linkStatus:
        description: ''
        example: 1
        type: integer
        format: int32
      linkid:
        description: Identifier of a link
        example: f070660600c1c45f
        type: string
      tag:
        description: ''
        example: prod
        type: string
      type:
        description: ''
        example: '0'
        type: string
  Body71:
    title: body71
    type: object
    properties:
      topology_tag:
        description: ''
        example: 38d17228-0179-491f-9e84-36ddd078b8e6
        type: string
  Datacenter:
    title: Datacenter
    type: object
    properties:
      cityname:
        description: ''
        example: Melbourne
        type: string
      countryname:
        description: ''
        example: Australia
        type: string
      datacentercode:
        description: ''
        example: amls
        type: string
      datacentername:
        description: ''
        example: Melbourne (NextDC)
        type: string
      datacenteruuid:
        description: ''
        example: 61f6522f-83e4-4c71-b638-63808240ef88
        type: string
      interfacetypes:
        description: ''
        type: array
        items:
          type: string
      operatorname:
        description: ''
        type: string
  InventorylinksputResponse:
    title: inventorylinksputResponse
    type: object
    properties:
      success-auxiliary:
        description: ''
        example: success
        type: string
      success-code:
        description: ''
        example: 20000
        type: integer
        format: int32
      success-message:
        description: ''
        example: vport created successfully
        type: string
      params:
        $ref: '#/definitions/Params50'
  Endpoint:
    title: Endpoint
    type: object
    properties:
      endpoint_uuid:
        description: ''
        example: c36a6a66-6b1c-47c4-866e-6e4657388557
        type: string
      vports:
        description: ''
        type: array
        items:
          type: string
  Body67:
    title: body67
    type: object
    properties:
      name:
        description: ''
        example: My Endpoint
        type: string
  MarketplaceimageimageidremovefrommyimagespostResponse:
    title: marketplaceimageimageidremovefrommyimagespostResponse
    type: object
    properties:
      status:
        description: ''
        example: success
        type: string
  MarketplaceimageimageidaddtomyimagespostResponse:
    title: marketplaceimageimageidaddtomyimagespostResponse
    type: object
    properties:
      status:
        description: ''
        example: success
        type: string
  User:
    title: user
    type: object
    properties:
      status:
        description: ''
        example: '1'
        type: string
      useruuid:
        description: ''
        example: Ms
        type: string
      emailaddress:
        description: ''
        example: test@dummy.com
        type: string
      firstname:
        description: ''
        example: Person
        type: string
      jobtitle:
        description: ''
        type: string
      lastname:
        description: ''
        example: Pacman
        type: string
      middlename:
        description: ''
        type: string
      phoneext:
        description: ''
        type: string
      phonenumber:
        description: ''
        example: '7026661954'
        type: string
      phonetype:
        description: ''
        example: mobile
        type: string
      title:
        description: ''
        example: Ms
        type: string
      usercountry:
        description: ''
        example: USA
        type: string
    required:
      - status
      - useruuid
  InventorylinkslinkidcontractpostResponse:
    title: inventorylinkslinkidcontractpostResponse
    type: object
    properties:
      success-auxiliary:
        description: ''
        example: success
        type: string
      success-code:
        description: ''
        example: 20000
        type: integer
        format: int32
      success-message:
        description: ''
        example: vport created successfully
        type: string
      params:
        $ref: '#/definitions/Params44'
  Flavor:
    title: flavor
    type: object
    properties:
      currency:
        description: ''
        example: USD
        type: string
      description:
        description: ''
        example: Flavor for CSP image
        type: string
      disk:
        description: ''
        example: 0
        type: integer
        format: int32
      ephemeral:
        description: ''
        example: 0
        type: integer
        format: int32
      id:
        description: ''
        example: 3
        type: integer
        format: int32
      name:
        description: ''
        example: Medium-CSP
        type: string
      price:
        description: ''
        example: 0.4
        type: number
        format: double
      ram:
        description: ''
        example: 0
        type: integer
        format: int32
      specific_customer:
        description: ''
        type: string
      swap:
        description: ''
        example: 0
        type: integer
        format: int32
      vcpus:
        description: ''
        example: 2
        type: integer
        format: int32
  AuthvalidatetokengetResponse:
    title: authvalidatetokengetResponse
    type: object
    properties:
      billings:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Billing'
      company-name:
        description: ''
        example: Acme Corporation
        type: string
      customer-account:
        description: ''
        example: '70012345'
        type: string
      customerid:
        description: ''
        example: bae254c1-3d78-4d68-8948-8b929c48e576
        type: string
      internalid:
        description: ''
        example: 353
        type: integer
        format: int32
      roles:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Role'
      userid:
        description: ''
        example: 321a5016-00a5-44ed-a749-4531ed89979a
        type: string
  Topology:
    title: topology
    type: object
    properties:
      created_by:
        description: ''
        example: 7a53ecf9-644a-4c92-8c63-eabc1ffe131f
        type: string
      creation_date:
        description: ''
        example: 1508307028000
        type: integer
        format: int64
      customer_uuid:
        description: ''
        example: 536b8cca-6594-46b9-8e62-1638e42deb6e
        type: string
      deletion_date:
        description: ''
        example: 0
        type: integer
        format: int32
      description:
        description: ''
        example: Main topology for WAN
        type: string
      guid_topology_id:
        description: ''
        type: string
      name:
        description: ''
        example: Production WAN
        type: string
      nsd_uuid:
        description: no longer used
        type: string
      status:
        description: ''
        example: active
        type: string
      uuid:
        description: ''
        example: 2056dbc6-fcad-4374-9dda-3bde3507b3b3
        type: string
  Body42:
    title: body42
    type: object
    properties:
      bandwidth:
        description: Bandwidth in MB/s (not kB/s)
        example: 1
        type: integer
        minimum: 1
        maximum: 10000
        format: int32
      duration:
        description: Duration of contract in hours (not minutes)
        example: 1
        type: integer
        minimum: 1
        format: int32
      renewal-option:
        description: '"Renewal Option: 0=Auto Disconnect, 1=Auto Renew, 2=Pay per hour"'
        example: 0
        type: integer
        format: int32
  InventorylinkpostResponse:
    title: inventorylinkpostResponse
    type: object
    properties:
      success-auxiliary:
        description: ''
        example: success
        type: string
      success-code:
        description: ''
        example: 20000
        type: integer
        format: int32
      success-message:
        description: ''
        example: vport created successfully
        type: string
      params:
        $ref: '#/definitions/Params'
  Meta:
    title: meta
    type: object
    properties:
      limit:
        description: ''
        type: integer
        format: int32
      next:
        description: ''
        type: integer
        format: int32
      offset:
        description: ''
        type: integer
        format: int32
      previous:
        description: ''
        type: integer
        format: int32
      total_count:
        description: ''
        type: integer
        format: int32
  MarketplaceimagemyimagesgetResponse:
    title: marketplaceimagemyimagesgetResponse
    type: object
    properties:
      meta:
        $ref: '#/definitions/Meta'
      objects:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Image'
  MarketplaceimagegetResponse:
    title: marketplaceimagegetResponse
    type: object
    properties:
      meta:
        $ref: '#/definitions/Meta'
      objects:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Image'
  Contract:
    title: contract
    type: object
    properties:
      bandwidth:
        description: Bandwidth in kB/s
        example: 1000
        type: integer
        minimum: 1000
        maximum: 10000000
        format: int32
      contract-end-time:
        description: ''
        example: 1508593521000
        type: integer
        format: int64
      contract-start-time:
        description: ''
        example: 1508589922000
        type: integer
        format: int64
      contractStatus:
        description: ''
        example: 8
        type: integer
        format: int32
      contractid:
        description: Identifier of a contract
        example: f070660600c1c45f.2
        type: string
      currencyCode:
        description: ''
        example: USD
        type: string
      currencyID:
        description: ''
        example: '1'
        type: string
      deletedtimestamp:
        description: ''
        example: 0
        type: integer
        format: int32
      duration:
        description: Duration of contract in minutes
        example: 3600
        type: integer
        minimum: 3600
        format: int32
      price:
        description: ''
        example: 259
        type: integer
        format: int32
      renewal-option:
        description: '"Renewal Option: 0=Auto Disconnect, 1=Auto Renew, 2=Pay per hour"'
        example: 0
        type: integer
        format: int32
      version:
        description: ''
        example: 20431
        type: integer
        format: int32
  InventorydatacentersgetException:
    title: inventorydatacentersgetException
    type: object
    properties:
      error:
        description: ''
        example: error
        type: string
      error-code:
        description: ''
        example: 1060052
        type: integer
        format: int32
      error_description:
        description: ''
        example: Payload required.
        type: string
  Link:
    title: link
    type: object
    properties:
      billing-id:
        description: ''
        example: b41c4ec8-1825-404b-b740-feaeba96681d
        type: string
      connections:
        description: ''
        example:
          - 5134d2ba-ce81-4b1c-9242-d2f30896c3a0
          - e2f182ee-8c06-410d-b0fe-e21c9e7ee7bd
        type: array
        items:
          type: string
        minItems: 2
        maxItems: 2
      contracts:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Contract'
      description:
        description: ''
        example: Main link from Melbourne to Sydney
        type: string
      latency:
        description: 'Latency: 0=Low, 1=Standard, 2=Best Effort'
        example: 0
        type: integer
        format: int32
      linkStatus:
        description: ''
        example: 1
        type: integer
        format: int32
      linkid:
        description: Identifier of a link
        example: f070660600c1c45f
        type: string
      tag:
        description: ''
        example: prod
        type: string
      type:
        description: ''
        example: '0'
        type: string
  AuthgeneratetokenpostResponse:
    title: authgeneratetokenpostResponse
    type: object
    properties:
      access_token:
        description: ''
        example: a8856a1a4e25b23d86fa9ae2ffce3b63
        type: string
      expires_in:
        description: ''
        example: 6900
        type: integer
        format: int32
      refresh_token:
        description: ''
        example: 6fdad23ccbc1f8e415fc2cf8cd245dae
        type: string
      token_type:
        description: ''
        example: bearer
        type: string
  Error:
    title: Error
    type: object
    properties:
      error-auxiliary:
        description: ''
        type: string
      error-code:
        description: ''
        example: 1010099
        type: integer
        format: int32
      error-message:
        description: ''
        type: string
      ns:
        description: ''
        type: string
  SuccessFragment:
    title: success-fragment
    type: object
    properties:
      success-auxiliary:
        description: ''
        example: success
        type: string
      success-code:
        description: ''
        example: 20000
        type: integer
        format: int32
      success-message:
        description: ''
        example: vport created successfully
        type: string
  GlanceImage:
    title: GlanceImage
    type: object
    properties:
      create_at:
        description: ''
        type: string
      id:
        description: ''
        example: 7
        type: integer
        format: int32
      name:
        description: ''
        example: quagga-0.99.22.1
        type: string
      owner:
        description: ''
        example: 9222433f-727d-4679-b807-3ce39b9f8ef2
        type: string
      status:
        description: ''
        type: string
  Vport:
    title: vport
    type: object
    properties:
      bandwidth:
        description: ''
        example: 0
        type: integer
        format: int32
      interfacesequence:
        description: ''
        example: 0
        type: integer
        format: int32
      status:
        description: ''
        example: deployed
        type: string
      vporttype:
        description: ''
        example: vlan
        type: string
      vportuuid:
        description: ''
        example: e62716f5-cc68-40e7-b97e-f1e3d1bda9a8
        type: string
      vportvalue:
        $ref: '#/definitions/Vportvalue'
  EndpointPort:
    title: endpoint-port
    type: object
    properties:
      cabletype:
        description: ''
        example: SMF
        type: string
      cfa:
        description: ''
        example: 10GBase-LR SMF/LC
        type: string
      connectortype:
        description: ''
        example: LC
        type: string
      endpointuuid:
        description: ''
        example: 8843fd24-4ef6-4a7d-8241-aed3778d6f07
        type: string
      interfacespeed:
        description: ''
        example: '100'
        type: string
      interfacetype:
        description: ''
        example: 10GBase-LR
        type: string
      vport:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Vport'
  InventorylinksgetResponse:
    title: inventorylinksgetResponse
    type: object
    properties:
      params:
        $ref: '#/definitions/Params47'
  Body45:
    title: body45
    type: object
    properties:
      renewal-option:
        description: '"Renewal Option: 0=Auto Disconnect, 1=Auto Renew, 2=Pay per hour"'
        example: 0
        type: integer
        format: int32
  Endpointlist:
    title: Endpointlist
    type: object
    properties:
      datacenteruuid:
        description: ''
        example: 7d89a3e0-ea82-4970-82f3-359d15d364b2
        type: string
      endpointuuid:
        description: ''
        example: ebe5a688-2a87-40ba-8303-049b1855271c
        type: string
  InventoryendpointscustomeruuidcustomeruuidgetResponse:
    title: inventoryendpointscustomeruuidcustomeruuidgetResponse
    type: object
    properties:
      endpointlist:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Endpointlist'
  Datacenter34:
    title: Datacenter34
    type: object
    properties:
      datacenteruuid:
        description: ''
        example: fb089004-53c9-476e-b7b2-3cc91829e0d1
        type: string
      port:
        description: ''
        type: array
        items:
          $ref: '#/definitions/EndpointPort'
  Classification:
    title: Classification
    type: object
    properties:
      description:
        description: ''
        example: Router
        type: string
      id:
        description: ''
        example: 4
        type: integer
        format: int32
      name:
        description: ''
        example: Router
        type: string
  InventoryendpointendpointuuidgetResponse:
    title: inventoryendpointendpointuuidgetResponse
    type: object
    properties:
      datacenter:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Datacenter34'
  InventorydatacentersgetResponse:
    title: inventorydatacentersgetResponse
    type: object
    properties:
      datacenters:
        description: ''
        type: array
        items:
          $ref: '#/definitions/Datacenter'
  Role:
    title: role
    type: object
    properties:
      permissions:
        description: ''
        type: array
        items:
          type: string
      role-name:
        description: ''
        example: customer-admin
        type: string
  VnfTag:
    title: vnf-tag
    type: object
    properties:
      description:
        description: ''
        example: UNIX
        type: string
      id:
        description: ''
        example: 2
        type: integer
        format: int32
      name:
        description: ''
        example: UNIX
        type: string
  Product:
    title: Product
    type: object
    properties:
      id:
        description: ''
        example: 7
        type: integer
        format: int32
  Vlan:
    title: vlan
    type: object
    properties:
      id:
        description: ''
        example: '101'
        type: string
      mac:
        description: ''
        type: string
    required:
      - id
      - mac
  Billing:
    title: billing
    type: object
    properties:
      billing-account:
        description: ''
        example: '60012345'
        type: string
      billingid:
        description: ''
        example: dae2cb75-89f2-4b5b-be99-5cf3ae3faa20
        type: string
